.header{
    display: grid;
    grid-template-areas:

    "h1 ea . ."
    " p . .ma"
    "p pl . ."
;

}
.h1{
    padding-top: 130px;
    grid-area: h1;
    color: lavender;
    font-family: Marker Felt, fantasy;
}
.p{
    grid-area: p;
    color: lavender;
    font-family:Brush Script MT, Brush Script Std, cursive;
}
.earth{
    padding-top: 70px;
    grid-area: ea;
}
.mars{
    grid-area: ma;
}
.pluton{
    grid-area: pl;
}