.AppMeny{
    display: grid;
    justify-content: center;
    grid-template-areas: "a..p..t..c";
    position: fixed; padding-left: 400px;
}
.buttonMeny{
    padding-top: 15px;
}
.buttonMeny button{

}

.blockAbout{
    padding-right: 20px;
    grid-area: a;
}
.blockProject{
    padding-right: 20px;
grid-area: p;
}
.blockTalk{
    padding-right: 20px;
grid-area: t;
}
.blockContact{
grid-area: c;
}