.AppMeny{

    background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
    background-size: 0.275em 0.275em, 0.975em 0.275em, 100% 100%;
    display: grid;
    grid-template-areas:

". ab pr ta co"


;
}
.about{
    grid-area: ab;

}
.project{
    grid-area: pr;
}
.talk{
    grid-area: ta;
}
.contact{
    grid-area: co;
}